body {
  font-family: 'Source Sans Pro';
}

.navbar {
  background-color: #ffffff;
}

.navbar-brand {
  color: black;
  font-weight: 800;
  font-size: 20px;
}

.form-label {
  position: absolute;
  margin: 7.5rem;
}

.forgotpass:hover {
  cursor: pointer;
  color: var(--bs-blue);
  text-decoration: underline;
}

.text-muted {
  text-align: left;
  text-decoration: none;
  color: #6c757d!important;
}

.text-muted a {
  text-decoration: none;
}

.text-muted a:hover {
  color: var(--bs-blue);
  text-decoration: underline;
}

.card {
  margin-top: 70px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.05);
}

h2 {
  text-align: left;
  margin: 0 0 30px 0;
}

form {
  padding: 20px 0 20px 0;
}

.btn-primary {
  color: #fff;
  background-color: #fea600;
  margin: 30px 0 50px 0;
  border-radius: 50px;
  border: none;
  padding: 10px;
}

.btn-primary:hover {
  background-color: #dc940d;
}

#login {
  min-height: 100vh;
}

.login {
  min-height: 75vh;
  background-color: #fea600;
}

#pass {
  display: flex;
}

.pass {
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}

.input-group-text {
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  border-left: none;
  background-color: rgba(241,241,241,0.85);
  color: #6c757d;
}

#footerpad {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
  color: #3e3d3d;
}