body {
  font-family: 'Source Sans Pro';
}

/* Nav */

.navbar {
  padding: 15px;
  /*box-shadow: 0px 2px 5px rgba(154,151,151,0.28);*/
  /*background-color: #ffffff;*/
  /*background-color: #ffc501;*/
  background-image: linear-gradient(to right, #ffc501 , #fec701);
}

.nav-item {
  padding: 0 30px 0 0;
}

.navbar .navbar-brand {
  color: #ffffff;
  font-weight: 800;
  font-size: 20px;
}

.navbar .navbar-nav .nav-link {
  font-size: 20px;
  color: #ffffff;
  /*color: #3e3d3d;*/
  letter-spacing: 1px;
}

.navbar-toggler {
  border: none;
  font-size: 22px;
}

.navbar-light .navbar-toggler {
  color: #ffffff;
  border-color: rgba(156,156,156,0.1);
}

.navbar-light .navbar-toggler:focus {
  border: none;
  outline: none;
  box-shadow: 0 0 0 #ffffff;
}

/* End Nav */

.div {
  min-height: 100vh;
  align-items: center;
}

/* Home */

#home {
  background-image: url('../../../assets/img/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-content {
  text-align: left;
  color: white;
  padding: 35px;
  display: flex;
}

.home-content h1 {
  font-weight: 800;
  font-size: 42px;
}

.home-content p {
  padding: 20px 0 20px 0;
  font-size: 18px;
  letter-spacing: 1px;
}

.home-content .btn {
  color: white;
  border: none;
  background-color: orangered;
  border-radius: 50px;
  padding: 15px 40px;
  margin-bottom: 20px;
}

.home-content .btn:hover {
  background-color: #e34004;
}

.home-content .fas.fa-map-marker-alt {
  margin-left: 10px;
}

#footerpad {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
  color: #3e3d3d;
  box-shadow: 0px 0px 10px rgba(154,151,151,0.28);
}