body {
  background-color: #f8f5f5;
}

.home-container {
  padding: 10px;
}

.home-container h4 {
  color: #3e3d3d;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  margin: 10px;
}

.dashboard {
  background-color: #ffffff;
  height: 300px;
  margin: 12px 0;
  border-radius: 15px;
  font-family: 'Sarabun';
  display: grid;
  align-items: center;
  color: #3e3d3d;
  text-align: center;
  padding: 10px 10px 30px 10px;
  box-shadow: 0px 2px 5px rgba(207,197,197,0.28);
}

@media (min-width: 992px) {
  .dashboard {
    height: 300px;
    margin: 12px;
  }
}

.dashboard h2 {
  font-weight: 600;
  font-size: 26px;
}

.dashboard img {
  width: 120px;
}

@media (min-width: 992px) {
  .dashboard.above img {
    width: 120px;
  }
}

@media (min-width: 992px) {
  .dashboard.below {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .dashboard.below img {
    width: 150px;
  }
}

.dashboard .btn {
  background-color: #fea600;
  color: #ffffff;
  border-radius: 50px;
  padding: 10px 20px;
}

.dashboard .btn:hover {
  background-color: #fea600;
  color: #ffffff;
  border-radius: 50px;
  padding: 10px 20px;
}

.dashboard .btn:focus {
  background-color: #fea600;
  color: #ffffff;
  border-radius: 50px;
  padding: 10px 20px;
}

.text h2 {
  margin: 0;
}