body {
  background-color: #f5f0f0;
  font-family: 'Source Sans Pro';
}

.table-container {
  padding-top: 10px;
}

@media (max-width: 575px) {
  .table-container {
    padding-top: 0px;
  }
}

.container h4 {
  color: #3e3d3d;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  margin: 10px 0;
}

@media (max-width: 767px) {
  .container h4 {
    color: #3e3d3d;
    font-family: 'Source Sans Pro';
    font-weight: 600;
  }
}

.table-div {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(207,197,197,0.28);
}

.table-div table {
  width: 100%;
}

.profile-td img {
  width: 70px;
  height: 70px;
  object-fit: cover;
}

.image-td div {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*border: 1px solid #ddd1d1;*/
}

.image-td div img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

.action-td a {
  text-decoration: none;
}

.action-td a:hover {
  text-decoration: underline;
}

.permit-td a, .view-loc-td a {
  text-decoration: none;
}

.button-td .accept-btn, .decline-btn {
  margin: 2px;
  width: 42px;
}

.nothing h4 {
  text-align: center;
  padding: 50px;
}

.pricechange-td p {
  margin: 0;
}

.pricechange-td .down {
  color: green;
}

.pricechange-td .up {
  color: red;
}

.pricechange-td p i {
  margin-right: 3px;
}

.status-div p {
  margin: 0;
  text-align: center;
  width: 85px;
  padding: 6px 0;
  border-radius: 5px;
}

.no-stock {
  background-color: #3e3d3d;
  color: #ffffff;
}

.critical {
  background-color: #ef333e;
  color: #ffffff;
}

.normal {
  background-color: #4381ae;
  color: #ffffff;
}

.modal-header {
  border: none;
}

.modal-header .btn-close:focus {
  outline: none;
  box-shadow: 0 0 0 #ffffff;
}

#locationModal .modal-body {
  padding: 10px;
}

.map {
  height: 700px;
  background-color: #f5f0f0;
}

.add-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 15px 0;
}

.add-div .btn {
  background-color: #fea600;
  color: #ffffff;
}

.add-div .btn:focus {
  background-color: #fea600;
  color: #ffffff;
}

#permitModal.modal .modal-content, #locationModal.modal .modal-content {
  padding: 20px;
}

.modal-header h4 {
  font-weight: 600;
}

.modal-footer {
  border: none;
}

.modal-footer .add-btn {
  background-color: #fea600;
  color: #ffffff;
}

.modal-footer .add-btn:focus {
  background-color: #fea600;
  color: #ffffff;
}

#permitModal .modal-body {
  padding: 0;
}

#permitModal img {
  width: 100%;
}

.paginate_button.page-item.active a {
  background-color: #f8f9fa;
  color: #0d6efd;
  border-color: #dee2e6;
}

.view-div {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0 0 10px 0;
}

.view-div .btn {
  background-color: #fea600;
  color: #ffffff;
}

.view-div .btn:hover {
  background-color: #fea600;
  color: #ffffff;
}