body {
  background-color: #f2f1f2;
}

.home-container {
  padding: 10px;
}

.home-container h4 {
  color: #3e3d3d;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  margin: 10px;
}

.dashboard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffffff;
  height: 350px;
  margin: 12px;
  border-radius: 15px;
  font-family: 'Sarabun';
  color: #3e3d3d;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 2px 5px rgba(207,197,197,0.28);
}

@media (max-width: 767px) {
  .dashboard {
    display: grid;
    height: 350px;
    margin: 10px 0;
  }
}

.dashboard h2 {
  font-weight: 600;
  font-size: 30px;
}

.dashboard img {
  width: 200px;
}

@media (max-width: 767px) {
  .dashboard img {
    width: 150px;
  }
}

.dashboard .btn {
  background-color: #fea600;
  color: #ffffff;
  border-radius: 50px;
  padding: 10px 20px;
}

.dashboard .btn:hover {
  background-color: #fea600;
  color: #ffffff;
  border-radius: 50px;
  padding: 10px 20px;
}

.dashboard .btn:focus {
  background-color: #fea600;
  color: #ffffff;
  border-radius: 50px;
  padding: 10px 20px;
}