body {
  background-color: #f5f0f0;
}

#kart-container h4 {
  color: #3e3d3d;
  font-family: 'Source Sans Pro';
  font-weight: 600;
}

/* no item in cart */

#no-items-in-cart {
  text-align: center;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divv {
  text-align: center;
}

.image-div {
  background-color: #e0dddd;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#no-items-in-cart img {
  width: 200px;
  /*object-fit: cover;*/
}

#no-items-in-cart p {
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}

#no-items-in-cart .btn {
  background-color: #fea600;
  border: none;
  padding: 6px 40px;
  color: #ffffff;
}

#no-items-in-cart .btn:hover {
  background-color: #dc930b;
  border: none;
  padding: 6px 40px;
}

/* end no item in cart */

/* with item in cart */

#kart-container {
  padding: 20px 0px;
  max-width: 1000px;
  margin: auto;
}

@media (max-width: 767px) {
  #kart-container {
    padding: 10px 5px;
  }
}

#product-header {
  background-color: #ffffff;
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 5px rgba(207,197,197,0.28);
  display: flex;
}

.col-5.head-col p {
  margin-left: 35px;
}

.head-col {
  display: flex;
  align-items: center;
}

.head-col p {
  margin: 0;
  color: #3e3d3d;
}

.head-col.heder {
  justify-content: center;
}

.prodak {
  margin-bottom: 12px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(207,197,197,0.28);
  /*padding: 5px;*/
}

.seller-name {
  display: flex;
  border-bottom: 1px solid #f5f0f0;
  padding: 15px 20px;
}

@media (max-width: 767px) {
  .seller-name {
    padding: 10px 15px;
  }
}

.seller-name a {
  text-decoration: none;
  color: #3e3d3d;
  font-weight: 600;
}

.seller-name i {
  margin-right: 5px;
}

.seller-name a:hover {
  text-decoration: underline;
  color: #3e3d3d;
}

.message-icon svg {
  margin-left: 5px;
  color: #fea600;
  font-size: 18px;
}

.sa-products {
  padding-left: 20px;
  display: flex;
}

@media (max-width: 767px) {
  .sa-products {
    padding-left: 15px;
  }
}

.sa-products .form {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f5f0f0;
  margin-right: 20px;
  width: 100%;
}

.empty-div {
  padding: 5px;
}

.checkbox-div {
  margin-right: 15px;
  display: flex;
  align-items: center;
}

.tsekbox {
  appearance: none;
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background-color: #f5f0f0;
  border: 1px solid #e6e1e1;
  border-radius: 2px;
  cursor: pointer;
}

.tsekbox:after {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f00c";
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  visibility: hidden;
  outline: none;
}

.tsekbox:hover {
  background-color: #e7e2e2;
}

.tsekbox:checked {
  background-color: #fea600;
  border: 1px solid #fea600;
}

.tsekbox:checked:after {
  visibility: visible;
}

.tsekbox.delete-all {
  margin-right: 15px;
}

.checkbox-div label {
  text-decoration: none;
  color: #fea600;
}

@media (max-width: 575px) {
  .checkbox-div .select-all {
    display: none;
  }
}

@media (min-width: 575px) {
  .checkbox-div .all {
    display: none;
  }
}

.checkbox-div label:hover {
  color: #d68f08;
}

.prodak .product-col {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  width: 100%;
}

@media (max-width: 991px) {
  .prodak .product-col {
    height: 130px;
    align-items: start;
  }
}

.prodak .product-col .imeyds-div a {
  height: 100px;
  width: 100px;
  display: flex;
  border: 1px solid #f5f0f0;
}

@media (max-width: 575px) {
  .prodak .product-col .imeyds-div a {
    height: 80px;
    width: 80px;
    display: flex;
    border: 1px solid #f5f0f0;
  }
}

.prodak .product-col .imeyds-div a img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.prodak .product-col .neym-div {
  width: 267px;
}

@media (max-width: 991px) {
  .prodak .product-col .neym-div {
    width: 100%;
  }
}

.product-col .neym-div .product-name {
  padding: 0 0 0 10px;
  margin: 0;
  text-decoration: none;
  color: #3e3d3d;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 20px;
}

.product-col .unit-price-div {
  width: 160px;
  text-align: center;
}

@media (max-width: 991px) {
  .product-col .unit-price-div {
    width: 100px;
    padding: 0;
    position: absolute;
    right: 0%;
    margin-top: 80px;
  }
}

.product-col .unit-price-div span {
  margin: auto;
  font-size: 18px;
}

.product-col .total-price-div {
  width: 160px;
  text-align: center;
}

.total-price-div label {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  color: #ea9c08;
}

.product-col .total-price-div span {
  margin: auto;
  font-size: 18px;
  font-weight: 500;
  color: #ea9c08;
}

@media (max-width: 991px) {
  .product-col .total-price-div {
    display: none;
  }
}

.quantity-container {
  width: 160px;
  margin-top: 25px;
  text-align: center;
  display: grid;
  justify-content: center;
}

@media (max-width: 991px) {
  .quantity-container {
    width: 132px;
    padding: 0 12px;
    position: absolute;
    margin-left: 105px;
    margin-top: 55px;
  }
}

@media (max-width: 575px) {
  .quantity-container {
    width: 132px;
    padding: 0 12px;
    position: absolute;
    margin-left: 85px;
    margin-top: 55px;
  }
}

.quantity-container p {
  margin: 0;
  color: #938d8d;
  font-size: 14px;
}

.quantity-div {
  width: 120px;
}

.quantity-div .btn {
  border-color: #dadfe3;
  color: #827e7e;
  font-size: 12px;
  padding: 8px 12px;
}

.quantity-div .btn:focus {
  border-color: #dadfe3;
  background-color: #f8f5f5;
  color: #fea600;
  font-size: 12px;
  padding: 8px 12px;
}

.quantity-div .form-control {
  padding: 0;
  text-align: center;
  font-weight: 600;
}

.quantity-div input:focus {
  outline: #f5f0f0;
  box-shadow: 0 0 #f5f0f0;
  border-color: #ced4da;
}

.product-col .del-prod-div {
  width: 80px;
  text-align: center;
}

@media (max-width: 991px) {
  .product-col .del-prod-div {
    position: absolute;
    right: 0;
    margin-top: 45px;
  }
}

.product-col .del-prod-div .btn {
  color: #3e3d3d;
  border: none;
}

.product-col .del-prod-div .btn:hover {
  color: #fea600;
}

.del-prod-div .btn:focus {
  outline: none;
  box-shadow: 0 0 #f5f0f0;
}

#checkout {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 15px;
  margin-top: 5px;
  box-shadow: 0px 2px 5px rgba(207,197,197,0.28);
  z-index: 2;
  position: sticky;
  bottom: 0;
}

@media (max-width: 767px) {
  #checkout {
    padding: 5px 15px 15px 15px;
  }
}

#checkout:before {
  content: "";
  position: absolute;
  top: -1.25rem;
  left: 0;
  height: 1.25rem;
  width: 100%;
  background: linear-gradient(transparent,rgba(207,197,197,0.28));
}

#checkout .bottom-action {
  display: flex;
  padding: 0 5px;
}

@media (max-width: 767px) {
  #checkout .bottom-action {
    padding: 0;
  }
}

#checkout .bottom-action .del {
  padding: 0;
  display: flex;
  align-items: center;
  border: none;
}

#checkout .bottom-action .del:focus {
  outline: none;
  box-shadow: 0 0 #f5f0f0;
  border: none;
}

#checkout .bottom-action .del:hover {
  color: #dd9309;
  border: none;
}

#checkout .total {
  padding: 0 10px;
  font-weight: 500;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

#checkout .total .price {
  color: #fea600;
  font-weight: 600;
  font-size: 26px;
  letter-spacing: 1px;
  margin: 0;
}

#checkout .checkout .btn {
  width: 260px;
  padding: 8px 0px;
  background-color: #fea600;
  border: none;
  border-radius: 5px;
}

#checkout .checkout .btn:hover {
  background-color: #de9407;
}

#checkout .checkout .btn:focus {
  outline: none;
  box-shadow: 0 0 #f5f0f0;
}

@media (max-width: 991px) {
  #product-header {
    display: none;
  }
}

.sold-out-div {
  background-color: rgba(54,48,48,0.81);
  border-radius: 8px;
  margin-right: 5px;
  margin-left: -10px;
}

.sold-out-div p {
  text-align: center;
  margin: 0;
  color: #ffffff;
  padding: 1px 5px;
  font-size: 12px;
  min-width: 60px;
}

@media (max-width: 991px) {
  .sold-out-div p {
    text-align: center;
    margin: 0;
    color: #ffffff;
    font-size: 10px;
    min-width: 48px;
  }
}

.prodak.no-stock .checkbox-div {
  visibility: hidden;
}

.prodak.no-stock .no-stock-p {
  margin: 0;
  font-weight: 600;
}

.sa-products.no-stock {
  opacity: 70%;
  display: flex;
}

.unit-price-div.no-stock {
  width: 137px;
}

@media (max-width: 991px) {
  .unit-price-div.no-stock {
    width: 100px;
  }
}

.quantity-container.no-stock input {
  background-color: #ffffff;
  border-color: #e5e7e9;
  color: #898787;
}

.empty-div.no-stock {
  text-align: center;
  padding: 10px;
}

.empty-div.no-stock a {
  text-decoration: none;
  color: #3e3d3d;
}

.empty-div.no-stock a:hover {
  text-decoration: underline;
  color: #3e3d3d;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}