body {
  background-color: #f5f0f0;
}

.view-order-container {
  padding: 20px 12px;
  max-width: 900px;
}

@media (max-width: 768px) {
  .view-order-container {
    padding: 10px 5px;
    max-width: 900px;
  }
}

/* header */

.header-div {
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom: 1px solid #f3eeee;
  border-radius: 8px 8px 0 0;
  box-shadow: 0px 2px 5px rgba(207,197,197,0.28);
}

@media (max-width: 767px) {
  .header-div {
    padding: 10px 15px;
  }
}

.back {
  text-decoration: none;
  color: #3e3d3d;
}

.back:hover {
  text-decoration: none;
  color: #fea600;
}

.back i {
  font-size: 13px;
  margin-right: 5px;
}

.header-div span {
  font-weight: 600;
}

.divider {
  padding: 0 5px;
}

.status {
  text-transform: uppercase;
}

/* end header */

/* transac date */

.transac-date-div {
  padding: 15px 25px;
  background-color: #ffffff;
  border-bottom: 1px solid #f3eeee;
  box-shadow: 0px 2px 5px rgba(207,197,197,0.28);
  display: flex;
}

@media (max-width: 767px) {
  .transac-date-div {
    padding: 10px 15px;
    display: grid;
  }
}

.details-div {
  border-right: 1px solid #f3eeee;
}

@media (max-width: 767px) {
  .details-div {
    border: none;
    padding-top: 5px;
  }
}

.details-div span {
  color: #898787;
}

.details-div p {
  font-weight: 600;
}

.buttons-div {
  display: grid;
  padding: 0 50px 0 0;
}

@media (max-width: 767px) {
  .buttons-div {
    display: flex;
  }
}

.details-div .btn.decline-btn {
  background-color: #ffffff;
  color: black;
  border-color: #d6c2c2;
}

.details-div .btn.decline-btn:focus {
  background-color: #ffffff;
  color: black;
  border-color: #d6c2c2;
}

.details-div .btn {
  background-color: #fea600;
  color: #ffffff;
  margin: 0 0 5px 0;
  /*width: 118px;*/
}

@media (max-width: 767px) {
  .details-div .btn {
    margin: 0 5px 0 0;
    /*width: 100px;*/
  }
}

.details-div .btn:focus {
  background-color: #fea600;
  color: #ffffff;
}

.details-div .btn i {
  margin-right: 5px;
}

.note-div {
  line-height: 18px;
  padding: 10px 5px 0 0;
}

.note-div span {
  color: #000000;
  font-weight: 600;
  /*font-size: 14px;*/
}

.note-div span i {
  margin-right: 5px;
  color: #fea600;
}

.timeline-div {
  padding: 0 15px;
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .timeline-div {
    padding: 0 0 5px 0;
    border-bottom: 1px solid #f3eeee;
  }
}

.date {
  display: flex;
}

.date span {
  color: #898787;
  width: 120px;
  margin: 5px 0;
}

.date p {
  margin: 5px;
  color: black;
}

/* end transac date */

/* product */

.prodak {
  /*margin: 12px 0;*/
  background-color: #ffffff;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 2px 5px rgba(207,197,197,0.28);
}

.seller-name {
  /*border-bottom: 1px solid #f5f0f0;*/
  padding: 10px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .seller-name {
    padding: 10px 15px;
  }
}

.seller-name .seller-div img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
  border: 1px solid #f5f0f0;
  margin-right: 5px;
}

.seller-name .seller-div a {
  text-decoration: none;
  color: #3e3d3d;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.seller-div i {
  margin-right: 5px;
}

.sa-products {
  padding: 0 15px;
}

.chat-div {
  min-width: 164px;
  text-align: right;
}

.chat-div .btn {
  padding: 4px 8px;
  font-size: 14px;
}

.btn.message {
  border-color: #d6c2c2;
  margin-right: 5px;
}

.btn.message:hover {
  border-color: #d6c2c2;
  margin-right: 5px;
}

.btn.view-station {
  background-color: #fea600;
  color: #ffffff;
}

.btn.view-station:hover {
  background-color: #fea600;
  color: #ffffff;
}

@media (max-width: 767px) {
  .sa-products {
    padding: 0 10px;
  }
}

.prodak .product-col {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  border-top: 1px solid #f3eeee;
}

@media (max-width: 767px) {
  .prodak .product-col {
    padding: 10px 5px;
  }
}

.imeds-n-neym {
  display: flex;
  align-items: center;
}

.prodak .product-col .imeyds-div img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

@media (max-width: 575px) {
  .prodak .product-col .imeyds-div img {
    height: 80px;
    width: 80px;
    object-fit: cover;
  }
}

.product-col .neym-div .product-name {
  padding: 0 0 0 10px;
  margin: 0;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 22px;
}

.product-col .unit-price-div {
  width: 142px;
  padding: 2px 10px 0;
}

.product-col .unit-price-div span {
  color: #3e3d3d;
}

.product-col .total-price-div {
  width: 150px;
  display: flex;
  justify-content: end;
}

.product-col .total-price-div span {
  font-size: 18px;
  font-weight: 500;
}

.product-col .quantity-div {
  width: 142px;
  padding: 0 10px;
}

.product-col .quantity-div span {
  color: #918888;
}

.total-div {
  /*padding: 10px 25px;*/
  /*border-top: 1px solid #f3eeee;*/
  text-align: right;
}

.total-row {
  display: flex;
  /*align-items: center;*/
  /*padding: 2px 0;*/
  border-top: 1px dotted #e6dfdf;
}

.total-row .left-col {
  border-right: 1px dotted #e6dfdf;
  padding: 5px 10px;
}

.total-div span {
  color: #7e7575;
  font-size: 14px;
}

.total-div p {
  margin: 0;
  font-weight: 600;
  padding: 5px 20px;
}

@media (max-width: 767px) {
  .total-div p {
    margin: 0;
    font-weight: 600;
    padding: 5px 15px;
  }
}

.total-div p.order-total-p {
  font-size: 24px;
  color: #fea600;
}