body {
  background-color: #f5f0f0;
  font-family: 'Source Sans Pro';
}

.search-div {
  background-color: #ffffff;
  box-shadow: 0px 2px 5px rgba(207,197,197,0.28);
  border-radius: 7px;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .search-div {
    border-radius: 0;
    padding: 10px 10px;
  }
}

.input-group input {
  border-radius: 50px;
}

.input-group input:focus {
  outline: none;
  box-shadow: 0 0 0 #ffffff;
  border: 1px solid #fea600;
}

.input-group .btn {
  background-color: #fea600;
  border-radius: 50px;
}

.input-group .btn:hover {
  background-color: #e3970a;
}

.input-group .btn:focus {
  outline: none;
  box-shadow: 0 0 0 #ffffff;
}

.input-group .fa.fa-search {
  color: #f8f5f5;
}

.contener {
  max-width: 800px;
  margin-top: 15px;
}

@media (max-width: 600px) {
  .contener {
    max-width: 800px;
    padding: 0;
    margin-top: 0;
  }
}

.sliders {
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 0px 2px 5px rgba(207,197,197,0.28);
  margin: 10px 0;
}

@media (max-width: 600px) {
  .sliders {
    border-radius: 0;
  }
}

.sliders .slider-head {
  padding: 12px;
  border-bottom: 1px solid #ebeaea;
}

.sliders .slider-head a {
  text-decoration: none;
}

.sliders .slider-head a:hover {
  text-decoration: underline;
  color: #3e3d3d;
}

.sliders .slider-head h5 {
  font-family: 'Source Sans Pro';
  margin: 0;
  text-align: center;
  color: #3e3d3d;
  font-weight: 600;
}

.sliders .slider-body {
  /*height: 220px;*/
  padding: 10px 5px;
}

.slider-wrapper {
  height: 100%;
  display: flex;
  overflow-x: auto;
  padding: 0;
}

.inside-body-slider {
  margin: 0 4px;
  border-radius: 10px;
  width: 145px;
  /*overflow: hidden;*/
  border: 1px solid #ebeaea;
}

@media (max-width: 600px) {
  .inside-body-slider {
    width: 126px;
  }
}

.inside-body-slider a {
  text-decoration: none;
}

.inside-body-slider a:hover {
  text-decoration: none;
  filter: brightness(97%);
}

.image-div {
  height: 160px;
  width: 143px;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

@media (max-width: 600px) {
  .image-div {
    height: 135px;
    width: 126.5px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
  }
}

.inside-body-slider img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform .5s;
}

.inside-body-slider:hover img {
  transform: scale(1.03);
}

.name-box {
  background-color: #ffffff;
  bottom: 0;
  height: 40px;
  border-radius: 0 0 10px 10px;
  padding: 5px;
  display: flex;
  align-items: center;
}

.name-box p {
  width: 100%;
  font-family: 'Source Sans Pro';
  margin: 0;
  text-decoration: none;
  background-color: rgba(136,130,130,0.71);
  border-radius: 5px;
  padding: 3px 5px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media (max-width: 600px) {
  .name-box p {
    width: 100%;
    font-family: 'Source Sans Pro';
    margin: 0;
    text-decoration: none;
    background-color: rgba(136,130,130,0.71);
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

/* Slider Scrollbar */

.slider-wrapper::-webkit-scrollbar {
  height: 5px;
}

/* Track */

.slider-wrapper::-webkit-scrollbar-track {
  border-radius: 50px;
  margin: 0 5px;
}

/* Handle */

.slider-wrapper::-webkit-scrollbar-thumb {
  background: #f5f0f0;
  border-radius: 50px;
}

/* Handle on hover */

.slider-wrapper::-webkit-scrollbar-thumb:hover {
  background: #e3e3e3;
}

/* End Slider Scrollbar */

/* SORT */

.sort-div {
  background-color: #ffffff;
  border-radius: 7px;
  margin: 10px 0;
  padding: 10px 20px;
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  box-shadow: 0px 2px 5px rgba(207,197,197,0.28);
}

@media (max-width: 600px) {
  .sort-div {
    border-radius: 0;
    padding: 8px 3px;
    overflow: auto;
  }
}

.sort-div span {
  margin: 0;
  padding: 0;
  color: #736f6f;
}

@media (max-width: 600px) {
  .sort-div span {
    display: none;
  }
}

.sort-options {
  margin: 0;
  display: flex;
  padding: 0 5px;
}

.sort-options .btn {
  border: 1px solid #eae3e3;
  border-radius: 5px;
  margin: 0 4px;
  padding: 6px 10px;
  width: 90px;
  color: #736f6f;
}

@media (max-width: 600px) {
  .sort-options .btn {
    margin: 0 3px;
    padding: 5px 0px;
    color: #736f6f;
    font-size: 14px;
    width: 70px;
  }
}

.sort-options .btn:hover {
  border: 1px solid #fea600;
}

.sort-options .btn.active {
  background-color: #fea600;
  color: #ffffff;
  border: 1px solid #fea600;
}

.sort-options select {
  border: 1px solid #f5f0f0;
  background-color: #f5f0f0;
  color: #736f6f;
  padding: 4px 0px;
  margin: 0 4px;
}

@media (max-width: 600px) {
  .sort-options select {
    border: 1px solid #f5f0f0;
    background-color: #f5f0f0;
    color: #736f6f;
    padding: 4px 0px;
    margin: 0 4px;
    font-size: 14px;
  }
}

.sort-options select:focus {
  outline: none;
  box-shadow: 0 0 0 #ffffff;
}

/* NO RESULT */

.no-result-div {
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 0px 2px 5px rgba(207,197,197,0.28);
  padding: 50px 15px;
  text-align: center;
  margin-top: 10px;
}

.no-result-div .fa-search {
  font-size: 24px;
}

.no-result-div p {
  margin: 0;
  font-size: 20px;
}

/* END */

/* TIMELINE */

.feed-row {
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 0px 2px 5px rgba(207,197,197,0.28);
  margin-bottom: 10px;
  /*padding-bottom: 10px;*/
}

@media (max-width: 600px) {
  .feed-row {
    border-radius: 0;
  }
}

.feed-head-col {
  display: flex;
  padding: 15px 20px 0 20px;
}

@media (max-width: 767px) {
  .feed-head-col {
    display: flex;
    padding: 12px 12px 0 12px;
  }
}

.feed-head-img-div {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.feed-head-img-div img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #e5dcdc;
}

.feed-head-name-div {
  /*display: grid;*/
  /*align-items: center;*/
  padding: 0 8px;
}

.feed-head-name-div a {
  margin: 0;
  font-weight: 700;
  color: #3e3d3d;
  text-decoration: none;
  text-transform: uppercase;
}

.feed-head-name-div a:hover {
  text-decoration: underline;
}

.feed-head-name-div p {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.feed-body-col {
  padding: 10px 60px;
}

@media (max-width: 767px) {
  .feed-body-col {
    padding: 10px 15px;
  }
}

@media (max-width: 575px) {
  .feed-body-col {
    padding: 10px 50px;
  }
}

/* fuel design */

.fuel-div {
  padding: 25px 25px 15px 25px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(67,63,63,0.28);
  background-color: #ffffff;
  color: #ffffff;
  font-family: 'Share Tech Mono';
  margin: 10px;
}

.fuel-div.diesel {
  background-color: #eab72d;
}

.fuel-div.unleaded {
  background-color: #48884c;
}

.fuel-div.premium {
  background-color: #f12d3c;
}

.fuel-div.racing {
  background-color: #1670ae;
}

.fuel-name {
  display: grid;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Share Tech Mono';
  text-align: center;
}

.fuel-name h1 {
  font-weight: 600;
  font-style: italic;
  letter-spacing: 2px;
  text-shadow: 1px 2px 5px rgba(0,0,0,0.5);
  margin: 0;
}

.fuel-name h6 {
  /*margin: 0;*/
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  letter-spacing: 1px;
}

.fuel-price {
  background-color: #2f2f2f;
  border-radius: 8px;
  padding: 10px;
  letter-spacing: 1px;
  color: #ffffff;
  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  min-height: 102px;
}

@media (max-width: 575px) {
  .fuel-price {
    min-height: auto;
  }
}

.fuel-price h1 {
  font-weight: 600;
}

strong {
  font-family: 'Nunito';
}

.fuel-price h1 .fas {
  font-size: large;
  margin-left: 5px;
  margin-top: 4px;
}

.fuel-price h1 span {
  font-size: large;
  margin-left: 2px;
}

.fuel-price p {
  margin-top: -7px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}

.kolum {
  position: relative;
}

.date {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 0 0 0;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
  font-family: 'Source Sans Pro';
}

.status-tag {
  position: absolute;
  color: #ffffff;
  background-color: #2f2f2f;
  top: 10px;
  right: 10px;
  width: 140px;
  overflow: hidden;
  border-radius: 0 5px;
  text-align: center;
  font-size: 17px;
  box-shadow: 0 2px 3px #211f1f;
  text-transform: uppercase;
  font-weight: 700;
  padding: 2px;
}

.fuel-div .dropdown {
  position: absolute;
  top: 15px;
  left: 25px;
  color: #ffffff;
  font-size: 20px;
  font-family: 'Source Sans Pro';
}

/* end */