body {
  background-color: #f5f0f0;
}

#container-settings {
  max-width: 1200px;
  padding: 10px;
}

.container h4 {
  color: #3e3d3d;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  margin: 10px 0;
}

.form {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgba(207,197,197,0.28);
}

/* product image */

.form.prod-image {
  padding: 20px;
}

.form.prod-image .para {
  color: #817c7c;
}

.avatar-bg {
  background-color: #f5f0f0;
  height: 300px;
  width: 300px;
  background-size: cover;
  margin: 70px auto 70px;
  background-position: 50% 50%;
  border-radius: 50%;
}

.avatar-bg img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border: none;
  border: 1px solid #f5f0f0;
  border-radius: 50%;
}

@media (max-width: 575px) {
  .avatar-bg {
    height: 250px;
    width: 250px;
    margin: 30px auto 20px;
  }
}

@media (max-width: 575px) {
  .avatar-bg img {
    height: 250px;
    width: 250px;
  }
}

.file-input {
  width: 250px;
  margin: auto;
  padding: 10px;
  border-radius: 8px;
  background-color: #f5f0f0;
  border: none;
}

.file-input::-webkit-file-upload-button {
  background-color: #ffffff;
  border-radius: 6px;
  border: none;
  margin-left: -5px;
}

.file-input:focus {
  width: 250px;
  margin: auto;
  padding: 10px;
  border-radius: 8px;
  background-color: #f5f0f0;
  border: none;
  outline: none;
  box-shadow: 0 0 0 #ffffff;
}

.leybel {
  text-align: center;
  margin: 5px 0;
}

.leybel p {
  margin: 0;
  color: #afb2ba;
  font-size: 14px;
}

/* product details */

.form.prod-details {
  padding: 20px 40px;
  height: 100%;
}

@media (max-width: 991px) {
  .form.prod-details {
    padding: 20px;
    margin: 15px 0;
  }
}

.input-div {
  padding: 0 0 20px 0;
  width: 100%;
}

.input-div label {
  color: #817c7c;
}

.input-div input, .input-div textarea, .input-div select {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #f5f0f0;
}

.input-div input:focus, .input-div textarea:focus, .input-div select:focus {
  padding: 15px;
  border: none;
  border-radius: 8px;
  background-color: #f5f0f0;
  box-shadow: 0 0 0 #ffffff;
}

.button-div {
  text-align: center;
  padding: 30px 0;
}

.button-div .btn {
  background-color: #fea600;
  color: #ffffff;
  width: 150px;
  border-radius: 8px;
}

.button-div .btn:focus {
  background-color: #fea600;
  color: #ffffff;
  width: 150px;
  border-radius: 8px;
}

.btn.change-pass {
  margin-right: 10px;
  background-color: #ffffff;
  border-color: #c9bebe;
  color: #3e3d3d;
}

.btn.change-pass:focus {
  margin-right: 10px;
  background-color: #ffffff;
  border-color: #c9bebe;
  color: #3e3d3d;
}

.btn.save-btn {
  margin-left: 10px;
}

input.email {
  background-color: #fefbfb;
  cursor: default;
}

input.email:focus {
  background-color: #fefbfb;
  cursor: default;
}

/* modal password */

.modal-content {
  border-radius: 15px;
  border: none;
}

.modal-header {
  border: none;
}

.modal-header .btn-close:focus {
  outline: none;
  box-shadow: 0 0 0 #ffffff;
}

.modal-body {
  padding: 0 30px;
  border: none;
}

.modal-body .input-div {
  display: grid;
}

.modal-footer {
  border: none;
  justify-content: center;
  padding: 10px 0 30px 0;
}

.btn.change-pass-btn {
  background-color: #fea600;
  color: #ffffff;
  border-radius: 8px;
}

.btn.change-pass-btn:focus {
  background-color: #fea600;
  color: #ffffff;
  border-radius: 8px;
}