body {
  background-color: #f5f0f0;
}

/* transaction nav */

#transaction-container {
  padding-top: 20px;
  max-width: 900px;
}

@media (max-width: 768px) {
  #transaction-container {
    padding: 10px 5px;
    max-width: 900px;
  }
}

#transaction-row-header {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(207,197,197,0.28);
  overflow: auto;
}

#transaction-row-header .col {
  padding: 0;
}

#transaction-row-header .navbar {
  padding: 0;
}

#transaction-row-header .container {
  padding: 0;
}

#transaction-row-header .nav-link {
  justify-content: center;
  padding: 15px 0;
  width: 175.2px;
  text-align: center;
  font-weight: 500;
  color: #3e3d3d;
}

@media (max-width: 767px) {
  #transaction-row-header .nav-link {
    padding: 15px 0;
    width: 110px;
  }
}

#transaction-row-header .nav-item.active {
  border-bottom: 3px solid #fea600;
}

#transaction-row-header .nav-link.active {
  color: #fea600;
}

/* end transaction nav */

/* no order */

#transaction-no-order-row {
  min-height: 50vh;
  display: flex;
  align-items: center;
  text-align: center;
}

#transaction-no-order-row img {
  width: 150px;
  margin-left: 25px;
}

#transaction-no-order-row p {
  color: #3e3d3d;
  font-size: 18px;
  font-weight: 600;
}

#no-order .icons {
  display: inline-grid;
  color: #3e3d3d;
}

#no-order svg {
  font-size: 100px;
}

/* end no order */

/* with order */

.prodak {
  margin: 12px 0;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(207,197,197,0.28);
}

.seller-name {
  border-bottom: 1px solid #f5f0f0;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .seller-name {
    padding: 10px 15px;
  }
}

.seller-name .seller-div {
  /*width: 300px;*/
  display: flex;
  align-items: center;
}

.seller-name .seller-div img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
  border: 1px solid #f5f0f0;
  margin-right: 5px;
}

.seller-name .seller-div a {
  text-decoration: none;
  color: #3e3d3d;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.seller-div i {
  margin-right: 5px;
}

.message-icon {
  margin: 0 5px;
  min-width: 18px;
}

.message-icon svg {
  /*margin-left: 5px;*/
  color: #fea600;
  font-size: 18px;
  margin-top: -5px;
}

.order-id-div {
  display: flex;
}

.seller-name .order-id-div p {
  margin: 0;
  min-width: 105px;
  text-align: right;
  font-weight: 600;
  text-transform: uppercase;
}

.sa-products {
  padding: 0 15px;
}

@media (max-width: 767px) {
  .sa-products {
    padding: 0 10px;
  }
}

.prodak .product-col {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #f5f0f0;
}

@media (max-width: 767px) {
  .prodak .product-col {
    padding: 10px 5px;
  }
}

.imeds-n-neym {
  display: flex;
  align-items: center;
}

.prodak .product-col .imeyds-div img {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

@media (max-width: 575px) {
  .prodak .product-col .imeyds-div img {
    height: 80px;
    width: 80px;
    object-fit: cover;
  }
}

.product-col .neym-div .product-name {
  padding: 0 0 0 10px;
  margin: 0;
  text-decoration: none;
  color: #3e3d3d;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 22px;
}

.product-col .unit-price-div {
  width: 142px;
  padding: 2px 10px 0;
}

.product-col .unit-price-div span {
  color: #3e3d3d;
}

.product-col .total-price-div {
  width: 150px;
  display: flex;
  justify-content: end;
}

.product-col .total-price-div span {
  font-size: 18px;
  font-weight: 500;
}

.product-col .quantity-div {
  width: 142px;
  padding: 0 10px;
}

.product-col .quantity-div span {
  color: #918888;
}

/* end with order */

.summary {
  padding: 0 15px;
}

.summary span {
  color: #989191;
}

.summary p {
  margin: 0 0 5px 0;
  font-weight: 600;
}

.div-1, .div-2, .div-3 {
  display: flex;
  justify-content: space-between;
  /*border-top: 1px solid #f5f0f0;*/
  padding: 2px 10px 5px 10px;
}

@media (max-width: 767px) {
  .div-1, .div-2 {
    padding: 2px 0px 5px 0px;
  }
}

.total-div, .status-div {
  text-align: right;
}

.total-div p {
  font-weight: 600;
  font-size: 22px;
  color: #fea600;
}

.status-div p {
  font-weight: 600;
  font-size: 20px;
}

.div-3 {
  padding: 13px 10px 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 767px) {
  .div-3 {
    padding: 13px 0px 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.div-3 span {
  font-size: 14px;
  line-height: 18px;
  margin-right: 5px;
}

.summary .btn {
  background-color: #fea600;
  color: #ffffff;
  min-width: 100px;
}

.summary .btn:hover {
  background-color: #fea600;
  color: #ffffff;
}

.summary .btn i {
  margin-right: 5px;
}

.summary .decline-btn {
  background-color: #ffffff;
  color: black;
  border-color: #d6c2c2;
  margin-right: 8px;
}

.summary .decline-btn:hover {
  background-color: #ffffff;
  color: black;
  border-color: #d6c2c2;
  margin-right: 8px;
}

.note-div {
  padding: 0 10px 15px 10px;
  font-size: 14px;
  line-height: 18px;
  margin-right: 5px;
}

@media (max-width: 767px) {
  .note-div {
    padding: 0 0px 15px 0px;
  }
}